<launch>
    <arg name="sim" default="false"/>
    <arg name="is_corrosion_detection" default="true"/>
    <arg name="is_net_hole_detection" default="false"/>
    <param name="/use_sim_time" value="$(arg sim)"/>

    <arg name="final_image_topic" value="/net_hole_detector/image_processed"/>
    <arg name="camera_info_topic" default="/net_hole_detector/original_camera_info_to_process/camera_info"/>
    <arg name="yolo_output_topic" default="/net_hole_detector/bounding_boxes"/>
    <arg name="is_rectified"      default="false"/>

    <include file="$(find net_hole_detector)/launch/yolo_inference.launch">
        <arg name="input_image_topic"       value="$(arg final_image_topic)"/>
        <arg name="output_topic"            value="$(arg yolo_output_topic)"/>
        <arg name="is_corrosion_detection"  value="$(arg is_corrosion_detection)"/>
        <arg name="is_net_hole_detection"  value="$(arg is_net_hole_detection)"/>
    </include>

    <include file="$(find net_hole_detector)/launch/detector_3d.launch" if="$(arg is_net_hole_detection)">
        <arg name="image_topic"             value="$(arg final_image_topic)"/>
        <arg name="camera_info_topic"       value="$(arg camera_info_topic)"/>
        <arg name="yolo_input_topic"        value="$(arg yolo_output_topic)"/>
        <arg name="is_rectified"            value="$(arg is_rectified)"/>
    </include>

    <include file="$(find net_hole_detector)/launch/blobs_processing.launch" if="$(arg is_net_hole_detection)"/>


    <node pkg="net_hole_detector" type="detection_to_world_pose.py" name="detection_to_world_pose" output="screen">
        <param name="input_topic"  value="/net_hole_detector/detections_3d"/>
        <param name="output_topic" value="/net_hole_detector/hole"/>
        <param name="world_frame"  value="world_ned"/>
        <param name="error_topic" value="/net_hole_detector/error"/>

        <rosparam command="load" file="$(find net_hole_detector)/config/UJI_tuning_params.yaml" />
    </node>
    
</launch>