<launch>
    <!-- Node to calculate manually the disparity between the 2 cameras -->
    <node pkg="net_hole_detector" type="manual_disparity_calculator.py" name="manual_disparity_calculator" output="screen">
        <param name="left_camera_info_topic"  value="/girona500/xiroi/stereo_ch3/left_optical/camera_info"/>
        <param name="right_camera_info_topic"  value="/girona500/xiroi/stereo_ch3/right_optical/camera_info"/>
        <param name="output_topic" value="/net_hole_detector/stereo_detections_3d"/>
    </node>

    <node pkg="net_hole_detector" type="stereo_visualizer.py" name="stereo_visualizer" output="screen" />

    <!-- Node to publish hole coordinates in World NED  -->
    <node pkg="net_hole_detector"
          type="detection_to_world_pose.py"
          name="detection_to_world_pose"
          output="screen">
        
        <param name="input_topic"  value="/net_hole_detector/stereo_detections_3d"/>
        <param name="output_topic" value="/net_hole_detector/hole"/>
        <param name="world_frame"  value="world_ned"/>
        <param name="error_topic" value="/net_hole_detector/error"/>

        <rosparam command="load" 
                  file="$(find net_hole_detector)/config/UJI_tuning_params.yaml" />
    </node>

</launch>

