<launch>

<node pkg="net_hole_detector" type="corrector_camera_info.py" name="corrector_camera_info" output="screen"/>

<!-- Nodo stereo_image_proc -->
<group ns="stereo">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <param name="approximate_sync" value="true"/>
        <!-- Remapeo de imágenes -->
        <remap from="left/image_raw"  to="/girona500/xiroi/stereo_ch3/left_optical/image_color"/>
        <remap from="right/image_raw" to="/girona500/xiroi/stereo_ch3/right_optical/image_color"/>

        <!-- Remapeo de información de cámara -->
        <remap from="left/camera_info"  to="/girona500/xiroi/stereo_ch3/left_optical/camera_info"/>
        <!-- <remap from="right/camera_info" to="/girona500/xiroi/stereo_ch3/right_optical/camera_info"/> -->
    </node>
</group>

<node pkg="net_hole_detector" type="stereo_distance_estimator.py" name="stereo_distance_estimator" output="screen">

</node>

</launch>