
<launch>
    <arg name="input_image_topic"/>
    <arg name="weights_path"      default="$(find net_hole_detector)/weights/best_gripper.pt"/>
    <arg name="output_topic"/>
    <arg name="is_net_hole_detection"/>
    <arg name="is_corrosion_detection"/>

    <!-- Nodes inicialitzats quan fem detecció de forats -->
    <node name="yolo_inference" pkg="net_hole_detector" type="net_hole_bbox_detector.py" output="screen" if="$(arg is_net_hole_detection)">
        <param name="pathWeights" value="$(arg weights_path)"/>
        <rosparam command="load" file="$(find net_hole_detector)/config/UJI_tuning_params.yaml" />  

        <remap from="camera_input" to="$(arg input_image_topic)"/>
        <remap from="yolo/detections"  to="$(arg output_topic)"/>
    </node>

    <!-- Nodes inicialitzats quan fem detecció de corrosió -->
    <node name="yolo_inference" pkg="net_hole_detector" type="corrosion_detector.py" output="screen" if="$(arg is_corrosion_detection)">
            <param name="pathWeights" value="/net_hole_detector/dinov3/pathWeights"/>

            <remap from="camera_input" to="$(arg input_image_topic)"/>

    </node>


</launch>